@font-face {
  font-family: 'DoomLeft';
  src: local('DoomLeft'), url(./fonts/AmazDooMLeft.ttf) format('truetype');
}

@font-face {
  font-family: 'DoomRight';
  src: local('DoomRight'), url(./fonts/AmazDooMRight.ttf) format('truetype');
}

:root {
  --main-bg-color: #2D132C;
  --primary-color: #C72C41;
  --secondary-color: #801336;
  --light-color: #EE4540;
  --aux-color: #583857;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DoomLeft;
}

body {
  background-color: var(--main-bg-color);
}

.text-right{
  font-family: DoomRight;
}

.doomometer.logo {
  color: var(--primary-color);
  text-align: center;
  font-size: 128px;
  margin-bottom: 20px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--secondary-color);
}

.doomometer.logo .o{
  font-size: 162px;
  position: relative;
  top: 10px;
}

input[type=text] {
  background-color: var(--aux-color);
  padding: 25px 10px 10px 10px;
  border: none;
  color: var(--primary-color);
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 32px;
  width: 550px;
  height: 55px;
  margin: 0 0 2rem 0;
}

input[type=text]:focus{
  outline-color: var(--secondary-color);
}

label{
  font-size: 48px;
  color: var(--secondary-color)
}

button{
  color: var(--main-bg-color);
  font-size: 64px;
  width: 330px;
  height: 75px;
  padding-top: 12px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-color);
  letter-spacing: 1px;
}

button:hover{
  /* color: var(--aux-color); */
  background-color: var(--light-color);
}

button:focus{
  outline: none;
}

/* Tablet */
@media (max-width: 935px){
  .doomometer.logo {
    font-size: 98px;
  }
  
  .doomometer.logo .right{
    font-family: DoomRight;
  }
  
  .doomometer.logo .o{
    font-size: 132px;
    top: 10px;
  }

  input[type=text]{
    width: 80%;
  }
}

/* Phone  */
@media (max-width: 480px){
  .doomometer.logo {
    font-size: 68px;
  }
  
  .doomometer.logo .right{
    font-family: DoomRight;
  }
  
  .doomometer.logo .o{
    font-size: 102px;
    top: 10px;
  }

  input[type=text]{
    width: 80%;
  }

  button{
    width: 60%;
  }
}